exportPattern("^[[:alpha:]]+")
import(dplyr)
importFrom(magrittr,"%>%")
importFrom(readr,"write_csv", "parse_date")
import(purrr)
import(ggplot2)
importFrom(stringr,"str_c","str_detect")
import(tidyr)
useDynLib(approxmapR)
importFrom(Rcpp, sourceCpp)
export("%>%")


